<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="header">
        <a href="/">
            <img class="logo" src="/img/header/logo.png">
        </a>
        <img class="headerlogo" src="/img/header/headerlogo.png">
    </div>
    <div class="footer">
        <a class="footer-box" href="/">
            <img class="footer-img" src="/img/footer/home.svg">
        </a>
        <a class="footer-box" href="/katalog">
            <img class="footer-img" src="/img/footer/katalog.svg">
        </a>
        <a class="footer-box" href="/basket">
            <img class="footer-img" src="/img/footer/basket.svg">
        </a>
        <a class="footer-box" href="/search">
            <img class="footer-img" src="/img/footer/search.svg">
        </a>
    </div>
    <input placeholder=" название" type="text" autocomplete="off"
        class="input_search" id="inp1">
    <div class="enter" id="sea">найти</div>
    <div class="nothing" id="soclose">
        ничего не найдено
    </div>
    <div id="line">

    </div>
    <div class="blok"></div>
    <script src="/jscode/functions.js"></script>
    <script src="/jscode/search.js"></script>
</body>
</html>