<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="/styles/desktop/about.css">
</head>
<body>
    <div class="header">
        <img class="logo" src="/img/header/logo2.png">
        <img class="headerlogo" src="/img/header/headerlogo.png">
        <div class="headericons">
            <a class="header-box" href="/">
                <img class="header-box" src="/img/footer/home.svg">
            </a>
            <a class="header-box" href="/katalog">
                <img class="header-box" src="/img/footer/katalog.svg">
            </a>
            <a class="header-box" href="/basket">
                <img class="header-box" src="/img/footer/basket.svg">
            </a>
        </div>
    </div>
    <div class="spoof"></div>
    <div class="imgplace">
        <div class="firstsection">
            <div class="left-right">
                <div class="tomm">
                    <img src="/img/footer/left.svg" class="lefts" id="leftclick">
                </div>
            </div>
            <div class="midle">
                <div class="imgwrapper">
                    <img src="" class="mainimg" id="mainimg">
                </div>
                <div class="scrollbox" id="scrollgg"></div>
                <div class="deleteplace" id="deleteplace">
                    <div class="delete" id="deletebutton">
                        удалить
                    </div>
                    <div class="plusminus">
                        <div class="plus" id="minus">
                            -
                        </div>
                        <div class="count" id="count">
                            1
                        </div>
                        <div class="plusm" id="plus">
                            +
                        </div>
                    </div>
                </div>
                
                <div class="bascetbuton" id="bascetbuton">
                    в корзину
                </div>
            </div>
           
            <div class="left-right">
                <div class="tomm">
                    <img src="/img/footer/right.svg" class="rights" id="rightclick">
                </div>
            </div>
        </div>

        <div class="secondsection">
            <div class="namesection" id="namep"> </div>
            <div class="name2" id="name2">
        
            </div>
        </div>
        
    </div>   
    
    
    
    <script src="/jscode/functions.js"></script>
    <script src="/jscode/about_d.js"></script>
</body>
</html>