<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basket</title>
    <link rel="stylesheet" href="/styles/desktop/basket.css">
</head>
<body>
    <div class="header">
        <img class="logo" src="/img/header/logo2.png">
        <img class="headerlogo" src="/img/header/headerlogo.png">
        <div class="headericons">
            <a class="header-box" href="/">
                <img class="header-box" src="/img/footer/home.svg">
            </a>
            <a class="header-box" href="/katalog">
                <img class="header-box" src="/img/footer/katalog.svg">
            </a>
            <a class="header-box" href="/basket">
                <img class="header-box" src="/img/footer/basket.svg">
            </a>
        </div>
    </div>
    <div class="spoof"></div>
    
    <div class="elemplace">
        <div class="productsleft">
            <div class="void" id="sp">в корзине нет товаров</div>
            <div id="line">
                
            </div>
        </div>
        <div class="enterright">
            <div class="resultline" id="its"></div>
            <div class="resultline" id="vst"></div>
            <div class="resultline">заполните даные для доставки:</div>
            <input id="id1" type="text" class="inp" placeholder="имя">
            <input id="id2" type="text" class="inp" placeholder="фамилия">
            <input id="id3" type="number" class="inp" placeholder="телефон" inputmode="tel">
            <input id="id4" type="text" class="inp" placeholder="город">
            <input id="id5" type="text" class="inp" placeholder="адрес">
            <input id="id6" type="text" class="inp" placeholder="почтовый индекс">
            <div class="resord" id="endform">заказать</div>
        </div>
    </div>
    <div id="basketline"></div>
    <div id="end" class="resend">
        <a class="X" id="x" href="/">
            <img class="X" src="/img/footer/X.svg">
        </a>
        <div class="spas">Спасибо за заказ!</div>
        <div class="scor">скоро с вами свяжется менеджер для принятия оплаты</div>
        <a href="/">
            <div class="contin">
                хорошо
            </div>
        </a>
    </div>
    <script src="/jscode/functions.js"></script>
    <script src="/jscode/basket_d.js"></script>
</body>
</html>