<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS</title>
    <link rel="stylesheet" href="/styles/desktop/katalog.css">
</head>
<body>
    <div class="header">
        <img class="logo" src="/img/header/logo2.png">
        <img class="headerlogo" src="/img/header/headerlogo.png">
        <div class="headericons">
            <a class="header-box" href="/">
                <img class="header-box" src="/img/footer/home.svg">
            </a>
            <a class="header-box" href="/katalog">
                <img class="header-box" src="/img/footer/katalog.svg">
            </a>
            <a class="header-box" href="/basket">
                <img class="header-box" src="/img/footer/basket.svg">
            </a>
        </div>
    </div>
    <div class="spoof"></div>
    <a class="icon" href="/kategory/angorka">
        <div class="d">
            <img class="katalogimg" src="/img/katalog/angorka.png">
            <div class="katalogname">ангорка</div>
        </div>
    </a>
    <a class="icon" href="/kategory/merinos">
        <div class="d">
            <img class="katalogimg" src="/img/katalog/1.png">
            <div class="katalogname">меринос</div>
        </div>
    </a>
    <a class="icon" href="/kategory/kozpooh">
        <div class="d">
            <img class="katalogimg" src="/img/katalog/1.png">
            <div class="katalogname">козий пух</div>
        </div>
    </a>
    <a class="icon" href="/kategory/wool">
        <div class="d">
            <img class="katalogimg" src="/img/katalog/1.png">
            <div class="katalogname">натуральная овечья шерсть</div>
        </div>
    </a>
    <a class="icon" href="/kategory/coton">
        <div class="d">
            <img class="katalogimg" src="/img/katalog/1.png">
            <div class="katalogname">хлопок</div>
        </div>
    </a>
    <a class="icon" href="/kategory/alpaka">
        <div class="d">
            <img class="katalogimg" src="/img/katalog/1.png">
            <div class="katalogname">альпака</div>
        </div>
    </a>
    <a class="icon" href="/kategory/moher">
        <div class="d">
            <img class="katalogimg" src="/img/katalog/1.png">
            <div class="katalogname">мохер голд</div>
        </div>
    </a>
    <a class="icon" href="/kategory/luks">
        <div class="d">
            <img class="katalogimg" src="/img/katalog/1.png">
            <div class="katalogname">ангорка люкс</div>
        </div>
    </a>
    <a class="icon" href="/kategory/marker">
        <div class="d">
            <img class="katalogimg" src="/img/katalog/1.png">
            <div class="katalogname">инструменты для вязания</div>
        </div>
    </a>
    <script src="/jscode/functions.js"></script>
    <script src="/jscode/katalog.js"></script>
</body>
</html>