<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>шерстенная территория</title>
    <link rel="stylesheet" href="/styles/desktop/main.css">
    <meta name="google-site-verification" content="hsTBFv2n64j1RtDLK2Z0tbrSNtP16xGwsSaZHIV76gw" />
</head>
<body>
    <div class="header">
        <img class="logo" src="/img/header/logo2.png">
        <img class="headerlogo" src="/img/header/headerlogo.png">
        <div class="searchbox">
            <input placeholder="искать на территории" type="text" autocomplete="off"
            class="input_search" id="inp1">
            <div class="enter" id="sea">
                <img class="enterimg" src="/img/footer/search.svg">
            </div>
        </div>
        <div class="headericons">
            <a class="header-box" href="/">
                <img class="header-box" src="/img/footer/home_w.svg">
            </a>
            <a class="header-box" href="/katalog">
                <img class="header-box" src="/img/footer/katalog_w.svg">
            </a>
            <a class="header-box" href="/basket">
                <img class="header-box" src="/img/footer/basket_w.svg">
            </a>
        </div>
    </div>
    <div class="spoof"></div>
    <div id="line">
    </div>
    <script src="/jscode/functions.js"></script>
    <script src="/jscode/main_d.js"></script>
</body>
</html>