<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="/styles/about.css">
</head>
<body>
    <div class="header">
        <a href="/">
            <img class="logo" src="/img/header/logo.png">
        </a>
        <img class="headerlogo" src="/img/header/headerlogo.png">
    </div>
    <div class="footer">
        <a class="footer-box" href="/">
            <img class="footer-img" src="/img/footer/home.svg">
        </a>
        <a class="footer-box" href="/katalog">
            <img class="footer-img" src="/img/footer/katalog.svg">
        </a>
        <a class="footer-box" href="/basket">
            <img class="footer-img" src="/img/footer/basket.svg">
        </a>
        <a class="footer-box" href="/search">
            <img class="footer-img" src="/img/footer/search.svg">
        </a>
    </div>
    <div class="imgplace">
        <div id="mimgh" class="mimgholder">
            <img src="/img/f.png" class="mainimg" id="mainimg">  
        </div>
        <div class="scrollbox" id="scrollgg"></div>
        <p class="name" id="namep">
            
        </p>
        <div class="bascetbuton" id="bascetbuton">
            в корзину
        </div>
        <div class="deleteplace" id="deleteplace">
            <div class="delete" id="deletebutton">
                удалить
            </div>
            <div class="plusminus">
                <div class="plus" id="minus">
                    -
                </div>
                <div class="count" id="count">
                    1
                </div>
                <div class="plus" id="plus">
                    +
                </div>
            </div>
        </div>
        <div class="name2" id="name2">
            
        </div>
        <div class="aboutproduct">

        </div>
    </div>
    <script src="/jscode/functions.js"></script>
    <script src="/jscode/about.js"></script>
</body>
</html>