<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basket</title>
    <link rel="stylesheet" href="/styles/basket.css">
</head>
<body>
    <div class="header">
        <a href="/">
            <img class="logo" src="/img/header/logo.png">
        </a>
        <img class="headerlogo" src="/img/header/headerlogo.png">
    </div>
    <div class="footer">
        <a class="footer-box" href="/">
            <img class="footer-img" src="/img/footer/home.svg">
        </a>
        <a class="footer-box" href="/katalog">
            <img class="footer-img" src="/img/footer/katalog.svg">
        </a>
        <a class="footer-box" href="/basket">
            <img class="footer-img" src="/img/footer/basket.svg">
        </a>
        <a class="footer-box" href="/search">
            <img class="footer-img" src="/img/footer/search.svg">
        </a>
    </div>
    <div class="space_text" id="sp"> в корзине нет товаров</div> 
    <div id="basketline">
        
    </div>
    <div class="enter" id="rs">
        <div class="result" id="rsum"></div>
        <div class="result" id="rcount"></div>   
    </div>
    <a class="oforml" href="/oform">перейти к оформлению</a>
    <div class="gl"></div>
    <script src="/jscode/functions.js"></script>
    <script src="/jscode/basket.js"></script>
</body>
</html>