<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>оформление</title>
    <link rel="stylesheet" href="/styles/oforml.css">
</head>
<body>
    <div class="summ">к оплате 1кк</div>
    <div class="summ">к оплате 1кк</div>
    <div class="summ">к оплате 1кк</div>
    <input id="id1" type="text" class="inp" placeholder="имя">
    <input id="id2" type="text" class="inp" placeholder="фамилия">
    <input id="id3" type="number" class="inp" placeholder="телефон" inputmode="tel">
    <input id="id4" type="text" class="inp" placeholder="город">
    <input id="id5" type="text" class="inp" placeholder="адрес">
    <input id="id6" type="text" class="inp" placeholder="почтовый индекс">
    <div class="end" id="end">заказаттт</div>
    <div class="urr" id="ursr">
        <div class="obr">Ваш заказ обробатывается</div>

        <a href="/">
            <div class="prod">Продолжить покупки</div>
        </a>
    </div>
    <script src="/jscode/functions.js"></script>
    <script src="/jscode/oforml.js"></script>
</body>
</html>